.cardFavoriteContainer {
  width: 40%;
  text-decoration: none;
  color: black;

  display: flex;
  gap: 10px;
  justify-content: space-between;
  .img {
    width: 50%;
    height: 20vh;
  }
  .container {
    width: 50%;
  }
}
