.filterModule{
    width: 90%;
    margin: 10 auto;
    .filterInputContainer{
        display: flex;
        justify-content: space-between;
    }
    .photoContainer{
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        gap: 10px;
        max-height: 90vh;
        overflow: auto;
    }
}