.loginContainer{
.title{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 25px;
}
.label{
    margin: 0;
    margin-top: 10px;
}
}
.linkContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    .loginLink{
        text-decoration: none;
        color: black;
        font-size: 18px;
        transition: all .3s linear;
    }
    .loginLink:hover{
        transform: scale(1.03);
        color: rgb(41, 41, 41);
    }
}