.searchComponentContainer {
  width: 490px;
  border: 1px black solid;
  max-height: 60vh;
  overflow: auto;
  position: relative;
  z-index: 50;
  background-color: #fff;
  padding: 10px;
  .searchBlock {
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    max-height: 40px;
    border: 1px black solid;
    padding: 3px;
    cursor: pointer;
    .searchBlockImg {
      max-width: 60px;
    }
    .searchBlockTitleContainer {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      width: 70%;
      align-items: flex-start;
    }
  }
  .searchBlock:hover {
    transform: scale(1.01);
  }
}
