.loginModule {
  margin: 50px auto;
  width: 40%;
  height: 400px;
  padding: 10px;
  border: 1px rgb(209, 209, 209) solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f4fffd;
}
