.notification {
    position: absolute;
    top: 40px;
    right: 4px;
    width: max-content;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    color: rgb(80, 74, 74);
    box-shadow: 0 1px 10px;
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade-in 3s linear;
    box-shadow: 0px 12px 36px 0px rgba(0, 0, 0, 0.44);
    z-index: 50;
  }
  .notification_icon{
      height: 26px;
      width: 26px;
      margin-right: 4px;
  }
  .notification_body {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 8px;
  }
  .notification_progerss {
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: calc(100% - 8px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.64), rgb(0, 34, 255)
    );
    border-radius: inherit;
    animation: progress 2.5s 0.3s linear;
  }
  
  @keyframes fade-in {
    5% {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    95% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes progress {
    to {
      transform: scaleX(1);
    }
  }
  